1 задача

In [51]:

T = float(input('Введите температуру '))
if T < 15.5:
  print ("ХОЛОДНО")
elif T > 28:
  print ("ЖАРКО")
else:
  print ("НОРМАЛЬНО")

Введите температуру 30
ЖАРКО

2 задача

In [52]:
n = int(input('Введите число строк '))
for i in range(n):
  a = str(input('Введите строку '))
  if 'кот' in a:
    print ('МЯУ')

Введите число строк 2
Введите строку котик
МЯУ
Введите строку ящик

3 задача

4 задача

In [53]:
n = int(input('Введите количество покупок '))
for i in range(n):
  a = str(input(' '))

Введите количество покупок 2
 апельсин
 молоко

5 задача

In [54]:
n = list(input())
for i in range(len(n)):
   n[i] = n[i]*2
n = "".join(n)
print (n)

холод
ххооллоодд

6 задача

In [55]:
def greet(n):
  name1 = str(input('Введите имя '))
  name2 = str(input('Введите фамилию '))
  n = name1 + ' ' + name2
  return n
print ('Здравствуйте, ', greet(n))

Введите имя Михаил
Введите фамилию Михайлович
Здравствуйте,  Михаил Михайлович

8 задача

В бакалавриате вначале преподавали C, C++ и matlab, а потом, уже в самом конце, питон. В результате в голове каша, непонимание и страх.